
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #ffffff;
    text-align: center;
}


nav {
    background: white;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

nav li {
    padding: 10px 20px;
    cursor: pointer;
}

nav .active {
    background: black;
    color: white;
    border-radius: 25px;
}

.profile {
    padding: 30px 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
}

.card {
    width: 80%;
    background: #f7f7f7;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    font-weight: 500;
}
